@model Proyecto_ORT_Final.Models.HojaDeRuta
@{
    ViewBag.Title = "Actualizacion";
    decimal totalPago = Model.getTotalPago();
    decimal totalpendiente = Model.getTotalPendiente();
}


<h2>Actualizacion</h2>
<table class="table">
    <thead>
        <tr>
            <th>Gasto</th>
            <th>Monto $</th>
            <th>Fecha</th>
        </tr>
    </thead>

    <tbody>
        @foreach (var Hr in Model.getGastosPagos())
        {


            <tr class="success">
                <td>@Hr.descripcion</td>
                <td>@Hr.monto</td>
                <td>@Hr.fecha</td>
            </tr>

        }
        @foreach (var Hr in Model.getGastosNoPagos())
        {


            <tr class="danger noPago" data-valor=@Hr.id>

                <td>@Hr.descripcion</td>
                <td>@Hr.monto</td>
                <td>@Hr.fecha</td>
            </tr>


        }


    </tbody>

</table>

<script src="@Url.Content("~/Scripts/jquery-1.10.2.js")" type="text/javascript"></script>
<script type="text/javascript">



    $('.noPago').on('click', function (e) {
    e.preventDefault();
    var id = $(this).closest('tr').data('id');
    $('#myModal').data('id', id).modal('show');
    var data = $(this).attr("data-valor");


    $.ajax('@Url.Action("Actualizar")', {
        data: { id: 6},
        method: 'GET'
    }).done(function (data) {
        $('#myModalContent').html(data);
    });




});

    $('#btnDelteYes').click(function () {

        alert('dasfaad');
    });



</script>


<div class="alert alert-success">Gastado:  @totalPago</div>
<div class="alert alert-danger">Restante:  @totalpendiente</div>


<span class="pull-right">
    <button type="button" class="btn btn-default" aria-label="Left Align">
        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
    </button>

</span>


<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h3 class="modal-title" id="myModalLabel">Atención!</h3>

            </div>
            <div class="modal-body">
                <h4> Desea marcar como pago el item seleccionado?</h4>

            </div>
            <!--/modal-body-collapse -->
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal" id="btnDelteYes">Si</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
            </div>
            <!--/modal-footer-collapse -->
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->
